.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.el-dialog,
.el-pager li {
  background: #303133 !important;
}
.el-table th, .el-table tr {
  background-color: #303133;
}
/* .el-button--text {
  color: rgb(255, 255, 255);
} */
