<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>在线查看报告</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/scroll-bar.css}">
    <link rel="stylesheet" th:href="@{/css/sub-page.css}">
    <link rel="stylesheet" th:href="@{//at.alicdn.com/t/font_693759_wytlyqhtdtj1nhfr.css}">
</head>
<body>
<div class="ok-body">
    <div class="layui-card">
        <div class="layui-card-header">实时报文</div>
        <div class="layui-card-body">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>源IP</th>
                    <th>目标ip</th>
                    <th>长度</th>
                    <th>报文</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>159.226.172.103</td>
                    <td>180.76.76.76</td>
                    <td>81</td>
                    <td>Standard query 0x9d86 A autoupdater.updrv.com</td>
                </tr>
                <tr>
                    <td>180.76.76.76</td>
                    <td>159.226.172.103</td>
                    <td>97</td>
                    <td>Standard query response 0x9d86 A autoupdater.updrv.com A 134.175.60.10</td>
                </tr>
                <tr>
                    <td>159.226.172.103</td>
                    <td>180.76.76.76</td>
                    <td>73</td>
                    <td>Standard query 0x8ee2 AAAA www.baidu.com</td>
                </tr>
                <tr>
                    <td>180.76.76.76</td>
                    <td>159.226.172.103</td>
                    <td>97</td>
                    <td>Standard query response 0x8ee2 AAAA www.baidu.com CNAME www.a.shifen.com SOA ns1.a.shifen.com</td>
                </tr>

                </tbody>
            </table>



        </div>
    </div>
</div>
</body>
<script th:src="@{/lib/layui/layui.js}"></script>
<script th:src="@{/js/earlywarning-edit.js}"></script>
</html>