<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cnic.xiandao.mapper.TrackNoticeMapper">
  <resultMap id="BaseResultMap" type="cn.cnic.xiandao.model.TrackNotice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="orgId" jdbcType="INTEGER" property="orgid" />
    <result column="statusId" jdbcType="INTEGER" property="statusid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="linkId" jdbcType="VARCHAR" property="linkid" />
    <result column="isRead" jdbcType="INTEGER" property="isread" />
    <result column="isDel" jdbcType="INTEGER" property="isdel" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createUser" jdbcType="VARCHAR" property="createuser" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateUser" jdbcType="VARCHAR" property="updateuser" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, orgId, statusId, content, type, linkId, isRead, isDel, remark, createUser, createTime, 
    updateUser, updateTime
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from track_notice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from track_notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cnic.xiandao.model.TrackNotice">
    insert into track_notice (id, orgId, statusId, 
      content, type, linkId, 
      isRead, isDel, remark, 
      createUser, createTime, updateUser, 
      updateTime)
    values (#{id,jdbcType=INTEGER}, #{orgid,jdbcType=INTEGER}, #{statusid,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{linkid,jdbcType=VARCHAR}, 
      #{isread,jdbcType=INTEGER}, #{isdel,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createuser,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updateuser,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.cnic.xiandao.model.TrackNotice">
    insert into track_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orgid != null">
        orgId,
      </if>
      <if test="statusid != null">
        statusId,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="linkid != null">
        linkId,
      </if>
      <if test="isread != null">
        isRead,
      </if>
      <if test="isdel != null">
        isDel,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createuser != null">
        createUser,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updateuser != null">
        updateUser,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orgid != null">
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="statusid != null">
        #{statusid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="linkid != null">
        #{linkid,jdbcType=VARCHAR},
      </if>
      <if test="isread != null">
        #{isread,jdbcType=INTEGER},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cnic.xiandao.model.TrackNotice">
    update track_notice
    <set>
      <if test="orgid != null">
        orgId = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="statusid != null">
        statusId = #{statusid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="linkid != null">
        linkId = #{linkid,jdbcType=VARCHAR},
      </if>
      <if test="isread != null">
        isRead = #{isread,jdbcType=INTEGER},
      </if>
      <if test="isdel != null">
        isDel = #{isdel,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        createUser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        updateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cnic.xiandao.model.TrackNotice">
    update track_notice
    set orgId = #{orgid,jdbcType=INTEGER},
      statusId = #{statusid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      linkId = #{linkid,jdbcType=VARCHAR},
      isRead = #{isread,jdbcType=INTEGER},
      isDel = #{isdel,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      createUser = #{createuser,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateUser = #{updateuser,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>