<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cnic.xiandao.mapper.TrackOperationMapper">
  <resultMap id="BaseResultMap" type="cn.cnic.xiandao.model.TrackOperation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="eventCode" jdbcType="VARCHAR" property="eventcode" />
    <result column="statusId" jdbcType="INTEGER" property="statusid" />
    <result column="repeatNum" jdbcType="INTEGER" property="repeatnum" />
    <result column="attId" jdbcType="INTEGER" property="attid" />
    <result column="hasRead" jdbcType="VARCHAR" property="hasread" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createUser" jdbcType="VARCHAR" property="createuser" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateUser" jdbcType="VARCHAR" property="updateuser" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, eventCode, statusId, repeatNum, attId, hasRead, remark, createUser, createTime, 
    updateUser, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from track_operation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from track_operation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cnic.xiandao.model.TrackOperation">
    insert into track_operation (id, eventCode, statusId, 
      repeatNum, attId, hasRead, 
      remark, createUser, createTime, 
      updateUser, updateTime)
    values (#{id,jdbcType=INTEGER}, #{eventcode,jdbcType=VARCHAR}, #{statusid,jdbcType=INTEGER}, 
      #{repeatnum,jdbcType=INTEGER}, #{attid,jdbcType=INTEGER}, #{hasread,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updateuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.cnic.xiandao.model.TrackOperation">
    insert into track_operation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eventcode != null">
        eventCode,
      </if>
      <if test="statusid != null">
        statusId,
      </if>
      <if test="repeatnum != null">
        repeatNum,
      </if>
      <if test="attid != null">
        attId,
      </if>
      <if test="hasread != null">
        hasRead,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createuser != null">
        createUser,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updateuser != null">
        updateUser,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eventcode != null">
        #{eventcode,jdbcType=VARCHAR},
      </if>
      <if test="statusid != null">
        #{statusid,jdbcType=INTEGER},
      </if>
      <if test="repeatnum != null">
        #{repeatnum,jdbcType=INTEGER},
      </if>
      <if test="attid != null">
        #{attid,jdbcType=INTEGER},
      </if>
      <if test="hasread != null">
        #{hasread,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cnic.xiandao.model.TrackOperation">
    update track_operation
    <set>
      <if test="eventcode != null">
        eventCode = #{eventcode,jdbcType=VARCHAR},
      </if>
      <if test="statusid != null">
        statusId = #{statusid,jdbcType=INTEGER},
      </if>
      <if test="repeatnum != null">
        repeatNum = #{repeatnum,jdbcType=INTEGER},
      </if>
      <if test="attid != null">
        attId = #{attid,jdbcType=INTEGER},
      </if>
      <if test="hasread != null">
        hasRead = #{hasread,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        createUser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        updateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cnic.xiandao.model.TrackOperation">
    update track_operation
    set eventCode = #{eventcode,jdbcType=VARCHAR},
      statusId = #{statusid,jdbcType=INTEGER},
      repeatNum = #{repeatnum,jdbcType=INTEGER},
      attId = #{attid,jdbcType=INTEGER},
      hasRead = #{hasread,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      createUser = #{createuser,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateUser = #{updateuser,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>