<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cnic.xiandao.mapper.TrackSecuMapper">
  <resultMap id="BaseResultMap" type="cn.cnic.xiandao.model.TrackSecu">
    <id column="secuId" jdbcType="INTEGER" property="secuid" />
    <result column="secuCode" jdbcType="VARCHAR" property="secucode" />
    <result column="secuName" jdbcType="VARCHAR" property="secuname" />
    <result column="frequency" jdbcType="INTEGER" property="frequency" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createUser" jdbcType="VARCHAR" property="createuser" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateUser" jdbcType="VARCHAR" property="updateuser" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    secuId, secuCode, secuName, frequency, remark, createUser, createTime, updateUser, 
    updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from track_secu
    where secuId = #{secuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from track_secu
    where secuId = #{secuid,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="cn.cnic.xiandao.model.TrackSecu">
    insert into track_secu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="secuid != null">
        secuId,
      </if>
      <if test="secucode != null">
        secuCode,
      </if>
      <if test="secuname != null">
        secuName,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createuser != null">
        createUser,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updateuser != null">
        updateUser,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="secuid != null">
        #{secuid,jdbcType=INTEGER},
      </if>
      <if test="secucode != null">
        #{secucode,jdbcType=VARCHAR},
      </if>
      <if test="secuname != null">
        #{secuname,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cnic.xiandao.model.TrackSecu">
    update track_secu
    <set>
      <if test="secucode != null">
        secuCode = #{secucode,jdbcType=VARCHAR},
      </if>
      <if test="secuname != null">
        secuName = #{secuname,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        createUser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        updateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where secuId = #{secuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cnic.xiandao.model.TrackSecu">
    update track_secu
    set secuCode = #{secucode,jdbcType=VARCHAR},
      secuName = #{secuname,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      createUser = #{createuser,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateUser = #{updateuser,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where secuId = #{secuid,jdbcType=INTEGER}
  </update>
</mapper>