<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cnic.xiandao.mapper.TrackUserMapper">
  <resultMap id="BaseResultMap" type="cn.cnic.xiandao.model.TrackUser">
    <id column="userId" jdbcType="INTEGER" property="userid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="roleId" jdbcType="INTEGER" property="roleid" />
    <result column="orgparentId" jdbcType="INTEGER" property="orgparentid" />
    <result column="orgId" jdbcType="INTEGER" property="orgid" />
    <result column="accessToken" jdbcType="VARCHAR" property="accesstoken" />
    <result column="refreshToken" jdbcType="VARCHAR" property="refreshtoken" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="isDel" jdbcType="INTEGER" property="isdel" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createUser" jdbcType="VARCHAR" property="createuser" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateUser" jdbcType="VARCHAR" property="updateuser" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    userId, userName, roleId, orgparentId, orgId, accessToken, refreshToken, contacts, 
    phone, isDel, remark, createUser, createTime, updateUser, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from track_user
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from track_user
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.cnic.xiandao.model.TrackUser">
    insert into track_user (userId, userName, roleId, 
      orgparentId, orgId, accessToken, 
      refreshToken, contacts, phone, 
      isDel, remark, createUser, 
      createTime, updateUser, updateTime
      )
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{roleid,jdbcType=INTEGER}, 
      #{orgparentid,jdbcType=INTEGER}, #{orgid,jdbcType=INTEGER}, #{accesstoken,jdbcType=VARCHAR}, 
      #{refreshtoken,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{isdel,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createuser,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updateuser,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cnic.xiandao.model.TrackUser">
    insert into track_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="roleid != null">
        roleId,
      </if>
      <if test="orgparentid != null">
        orgparentId,
      </if>
      <if test="orgid != null">
        orgId,
      </if>
      <if test="accesstoken != null">
        accessToken,
      </if>
      <if test="refreshtoken != null">
        refreshToken,
      </if>
      <if test="contacts != null">
        contacts,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="isdel != null">
        isDel,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createuser != null">
        createUser,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updateuser != null">
        updateUser,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="orgparentid != null">
        #{orgparentid,jdbcType=INTEGER},
      </if>
      <if test="orgid != null">
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="accesstoken != null">
        #{accesstoken,jdbcType=VARCHAR},
      </if>
      <if test="refreshtoken != null">
        #{refreshtoken,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cnic.xiandao.model.TrackUser">
    update track_user
    <set>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        roleId = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="orgparentid != null">
        orgparentId = #{orgparentid,jdbcType=INTEGER},
      </if>
      <if test="orgid != null">
        orgId = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="accesstoken != null">
        accessToken = #{accesstoken,jdbcType=VARCHAR},
      </if>
      <if test="refreshtoken != null">
        refreshToken = #{refreshtoken,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        isDel = #{isdel,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        createUser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuser != null">
        updateUser = #{updateuser,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cnic.xiandao.model.TrackUser">
    update track_user
    set userName = #{username,jdbcType=VARCHAR},
      roleId = #{roleid,jdbcType=INTEGER},
      orgparentId = #{orgparentid,jdbcType=INTEGER},
      orgId = #{orgid,jdbcType=INTEGER},
      accessToken = #{accesstoken,jdbcType=VARCHAR},
      refreshToken = #{refreshtoken,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      isDel = #{isdel,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      createUser = #{createuser,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateUser = #{updateuser,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where userId = #{userid,jdbcType=INTEGER}
  </update>
</mapper>